 body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #f4f4f9;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 850px;
            margin: auto;
            background: #fff;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        }
        header {
            border-bottom: 2px solid #2c3e50;
            padding-bottom: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
        h1 {
            margin: 0;
            color: #2c3e50;
            font-size: 2.2em;
            text-transform: uppercase;
        }
        .contact-info {
            margin-top: 10px;
            font-size: 0.9em;
        }
        .contact-info a {
            color: #3498db;
            text-decoration: none;
            margin: 0 10px;
        }
        h2 {
            color: #2c3e50;
            border-left: 5px solid #880c0c;
            padding-left: 10px;
            text-transform: uppercase;
            font-size: 1.2em;
            margin-top: 30px;
        }
        .section-content {
            padding-left: 15px;
        }
        .experience-item, .edu-item {
            margin-bottom: 15px;
        }
        .job-title {
            font-weight: bold;
            color: #333;
        }
        .skills-list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            
        }
        .skills-list li:hover {
            background-color: #2c3e50;
            color:#f4f4f9
        }
        .skills-list li {
            background: #ecf0f1;
            padding: 5px 15px;
            margin: 5px;
            border-radius: 20px;
            font-size: 0.9em;
            border: 1px solid #bdc3c7;
        }
        .footer-note {
            font-size: 0.8em;
            text-align: center;
            margin-top: 40px;
            color: #7f8c8d;
        }